:root {
    --fuentePrincipal: 'Poppins', sans-serif;
    --colorOrange: #d30707;
    --colorFondo: #F2EDE3;
    --colorBlanco: #ffffff;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: var(--fuentePrincipal);
    background-color: white;
    line-height: 1.5;
}


/**GLOBALES**/

a {
    text-decoration: none;
    color: var(--colorFondo);
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.4s;
}

a:hover {
    text-decoration: none;
    color: var(--colorOrange);
    font-size: 1.3rem;
}

.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}


/**UTILIDADES^*/

.text-align {
    text-align: center;
}


/**UTILIDADES**/

.linea {
    display: flex;
    justify-content: center;
    border: 1px solid var(--colorOrange);
    width: 10rem;
    margin: auto;
}

.linea2 {
    margin-bottom: 4rem;
}


/**LOGO**/

.nav-completo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 200px;
    margin-right: 100px;
}

.loguito {
    text-align: center;
    font-size: 5rem;
    font-family: 'GreatVibes';
    color: var(--colorFondo);
}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}

.navegacion a {
    font-size: 1.7rem;
}

.whatsapp {
    color: white;
    font-weight: bold;
    background-color: red;
    padding: 10px 20px;
    border-radius: 20px;
}

.whatsapp:hover {
    display: flex;
    color: rgb(211, 0, 0);
    font-weight: bold;
    background-color: rgb(2, 2, 2);
    padding: 10px 20px;
    border-radius: 20px;
}


/**SLIDER**/

.header {
    background-image: url(../img/baner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 820px;
    position: relative;
    padding-top: 3rem;
    animation: animate 10s infinite;
    transition: 0.5s;
}

@keyframes animate {
    20% {
        background-image: url(../img/baner3.jpg);
        background-size: cover;
    }
    40% {
        background-image: url(../img/baner2.jpg);
        background-size: cover;
    }
    80% {
        background-image: url(../img/baner1.jpg);
        background-size: cover;
    }
    100% {
        background-image: url(../img/parallax2.jpg);
        background-size: cover;
    }
}


/**SLIDER**/

.medio {
    text-align: center;
}

.header-titulo h2 {
    font-size: 10rem;
    color: var(--colorFondo);
    text-align: center;
    margin: 10rem 0rem 0rem;
}

.header-titulo p {
    font-size: 3rem;
    color: var(--colorFondo);
    text-align: center;
    margin: 2rem 0;
    font-family: 'GreatVibes';
}

.header-botones {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.header-botones a {
    border: 2px solid white;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: var(--colorOrange);
    padding: 1rem 2rem;
    letter-spacing: 2px;
}

.header-botones a:hover {
    border: 1px solid white;
    color: var(--colorOrange);
    background-color: white;
}


/**SERVICES**/

.main {
    border-top: 1rem solid var(--colorOrange);
    background-color: black;
}

.servicios {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    /* Agrega un espacio entre las tarjetas si es necesario */
    margin-top: -12rem;
    /* Ajusta según sea necesario */
    /* Agrega padding para compensar el margen negativo si es necesario */
}

.card1 {
    background-image: url('../img/shutterstock_768847741-scaled.jpg');
}

.card2 {
    background-image: url('../img/shutterstock_1823575601-scaled.jpg');
}

.card3 {
    background-image: url('../img/shutterstock_1478730752-scaled.jpg');
}

.card4 {
    background-image: url('../img/Dimensiones-personalizadas-1080x1080-px.jpeg');
}

.card5 {
    background-image: url('../img/mars-intelligence-assets-1.webp');
}

.card6 {
    background-image: url('../img/56266eb0-7a2a-423b-91b0-745d4d3ee46a.jpg');
}

.card {
    position: relative;
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 8px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 1rem;
    overflow: hidden;
    /* Asegura que el pseudo-elemento no se desborde */
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(211, 7, 7, 0.6), rgba(211, 7, 7, 0));
    /* Gradiente rojo degradado */
    opacity: 0;
    /* Comienza totalmente transparente */
    transition: opacity 0.3s ease-in-out;
    /* Transición suave para la opacidad */
    border-radius: 8px;
    /* Respetar los bordes redondeados de la tarjeta */
}

.card:hover::before {
    opacity: 1;
    /* Hacer el degradado visible al pasar el ratón */
}

.card h1 {
    position: relative;
    /* Asegura que el texto esté por encima del pseudo-elemento */
    margin: 0;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/**nosotros**/

.nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: start;
    margin: 4rem 0;
    background-color: black;
}

.img-nosotros img {
    width: 400px;
}

.titulo-nosotros {
    margin-top: 0;
    padding-right: 15rem;
}

.titulo-nosotros h2 {
    margin: 0;
    color: white;
}

.titulo-nosotros .linea {
    margin: 0;
}

.titulo-nosotros p {
    color: white;
    text-align: justify;
}


/**nosotros**/

.porque {
    background-color: black;
}

.titulo-porque h2 {
    background-color: black;
    text-align: center;
    color: white;
}

.beneficios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #04043b6e;
    margin-top: 2rem;
    /* Fondo oscuro del contenedor */
}

.beneficio {
    flex-basis: 45%;
    /* Ajusta esto según el tamaño deseado y la respuesta del diseño */
    background-color: #000;
    color: white;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    position: relative;
}

.beneficio h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
    position: relative;
    padding-left: 0px;
    color: #d30707;
}

.beneficio p {
    font-size: 16px;
    line-height: 1.5;
}


/**GALERIA**/

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/**WHATSAPP**/

#whatsapp a {
    background: none;
    position: fixed;
    top: 80%;
    width: 110px;
    right: 15px;
    z-index: 9999;
    transition: 0.5s;
}

#whatsapp a:hover {
    position: fixed;
    top: 80%;
    width: 113px;
    right: 15px;
    z-index: 9999;
}


/**WHATSAPP**/

@media (max-width: 768px) {
    #whatsapp a {
        background: none;
        position: fixed;
        top: 88%;
        width: 90px;
        right: 15px;
    }
}